
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: hsl(270, 20%, 86%);
    font-family: 'Rubik', sans-serif;
    
}

.container {
    width: 1140px;
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main {
    width: 35%;
    border: 10px solid #fff;
    border-radius: 30px;
}

.space {
    height: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

header {
    background-image: linear-gradient(to right, hsl(264, 100%, 61%),hsl(293, 100%, 63%));
    border-radius: 28px 28px 10px 10px;
}

.profile {
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

.img {
    width: 15%;
    cursor: pointer;
}

.img img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid #fff;
}

.img-icon,.img-name {
    display: flex;
    gap: 20px;
}

.icon,.elips {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon i {
    font-size: 20px;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.myname {
    font-weight: bold;
    color: #fff;
    font-size: 18px;
}


.status {
    font-size: 14px;
    color: hsl(270, 20%, 76%);
}

.chat {
    padding: 10px;
    background-color: hsl(270, 20%, 96%);
    border-radius: 0 0 30px 30px;
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;

}

.worker {
    font-size: 12px;
    color: hsl(293, 100%, 63%);
    background-color: hsl(270, 20%, 86%);
    padding: 10px;
    width: 60%;
    border-radius: 24px 24px 24px 10px;
}

.replies {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    margin: 20px 0;
}

.dog {
    width: 60%;
    display: flex;
    gap: 10px;

}

.dog img {
    width: 30%;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: black;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reply {
    padding: 10px;
    background-color: #fff;
    color: black;
    font-size: 12px;
    width: 60%;
    border-radius: 24px 24px 10px 24px
}

.reply1 {
    width: 40%;
}

.radio {
    width: 75%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-image: linear-gradient(to right, hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    border-radius: 24px 24px 24px 10px;
}

.circle {
    width: 20px;
    height: 20px;
    outline-color: hsl(289, 100%, 72%);
    border: 1px solid hsl(289, 100%, 72%);;
}

.input {
    display: flex;
    gap: 10px;
}

label {
    font-size: 12px;
    color: hsl(270, 20%, 86%);
}

.price {
    font-weight: bold;
    color: #fff;
}

.message {
    position: relative;
    margin-bottom: 10px;
    padding: 20px 0 0 0;

}

button{
    position: absolute;
    left: 86%;
    background-color: hsl(271, 36%, 24%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

button i {
    color: white;
    font-size: 18px;
}

.last {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    border: none;
}

.last:focus{
    outline: hsl(289, 100%, 72%);
}

@media only screen and (max-width:600px){
    body,main,footer,html,.container,.main {
        width: 100%;
    }

    body {
        padding: 30px 10px;
    }
}